---
import { Formatter } from '@/utils/formatter.ts';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div class="lg:flex lg:items-center">
  <Image
    class="object-cover w-full h-56 rounded-lg lg:w-64"
    src={frontmatter.image}
    alt={frontmatter.title}
    width={400}
    height={400}
    quality="low"
    loading="lazy"
    transition:name={`${post.slug}-image`}
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6">
    <a
      href={`/posts/${post.slug}`}
      class="text-xl font-semibold hover:underline text-white"
    >
      {frontmatter.title}
    </a>
    <p class="text-blue-500">{frontmatter.description}</p>

    <span class="text-sm text-gray-200">{post.id} </span>
    <span class="text-sm text-gray-200"
      >{Formatter.formatDate(frontmatter.date)}</span
    >
    <a href={`/blog/${frontmatter.author.id}`} class="text-blue-500"
      >{frontmatter.author.id}</a
    >
  </div>
</div>
